<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/0b2bdebf-1df0-43b7-9e6b-bd580d44dc9d/resourcegroups/RevolutionGolfPayPalListener20181116111503ResourceGroup/providers/Microsoft.Web/sites/RevolutionGolfPayPalListener20181116111503</ResourceId>
    <ResourceGroup>RevolutionGolfPayPalListener20181116111503ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://revolutiongolfpaypallistener20181116111503.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/0b2bdebf-1df0-43b7-9e6b-bd580d44dc9d/resourcegroups/RevolutionGolfPayPalListener20181116111503ResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20181116111506</ContainerResourceId>
    <ContainerResourceName>registry20181116111506</ContainerResourceName>
    <Subscription>Free Trial</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20181116111506.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3da5de84-0134-4156-8f4d-1e48fff66348</ProjectGuid>
  </PropertyGroup>
</Project>